/*setting up color*/
:root {
    --first-color: rgb(247, 205, 205);
    --second-color: rgba(217, 223, 223, 0.877);
    --third-color: black;
    --forth-color: red;
    --fifth-color: rgb(238, 238, 247, 1);
    --sixth-color: white;        
}
/* body setting here */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--fifth-color);
    font-family: 'Times New Roman', Helvetica, sans-serif;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/*header setting*/
header {
    padding: 10px 10px;
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(49, 52, 61, 1);
    position: sticky;
    top: 0;
    z-index: 9999;    
}
header a {
    text-decoration: none;
    color: var(--third-color);
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 5px 20px;
    font-weight: bold;
    font-size: 2vw;
    color: var(--third-color);    
}
header nav ul li a:hover {
    background: var(--first-color);
    color: var(--forth-color);
    border-radius: 20px;
}
/*footer setting*/
footer {
    background-color: var(--second-color);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    background-image: url(../images/banner-header-paper-crumpled.jpg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    position: sticky;
    bottom: 0;
    z-index: 2;
}
footer h2 {
    color: var(--third-color);
}
footer a {
    text-decoration: none;
    color: var(--third-color);
}
/* sect of backgroudn img and maing brand*/
   
/* set up rules for pic box*/
.intro {
    
    background-color: var(--first-color);
    background-image: url(../images/cube-background-2484131_1280.webp);
    background-size: cover;
    background-position: center;
}
.myinfo {
    margin: 0;
    padding: 25px;
    width: min-content(300px);
    display: flex;
    justify-content: space-between;
}
.myimg img{
    height: 300px;
    width: 200px; 
}
.myinfo h2 {
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    text-align: end;
    justify-content: end;
    font-size: 70px;
    color: var(--forth-color);
}
/*this is where my info starts*/
.intro-2 {
    margin: 10pxpx 0;
    padding-top: 100px;
    padding-right: 2px;
    padding-left: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
.intro-2 > h2{ 
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 2px solid var(--third-color);
    font-size: 50px;
}
.intro-2 > div { 
    flex: 0 0 77%;    
}
.intro-2 p {
    margin-bottom: 10px;
}
.info2 {
    border-top: 30px;
    margin-top: 30px;
}
/* this is my world starts*/
.grid-container {
    padding: 10px;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, 1fr);
}
.run-buddy {
    display: grid;
    grid-column: span 3;
    background-image: url(../images/runbuddy.png); 
}
.hori {
    grid-column: span 2;
    background-image: url(../images/horiseon.png);
}
.run-img {    
    width: 100%;
    min-height: 100%;
    background-size: cover;
    padding: 5px;
}
.hori-img {    
    width: 100%;
    min-height: 200px;
    background-size: cover;
    padding: 5px;
}
/* rules for fine me and social grid */
.social-grid {    
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, 1fr);
}
.facebook {
    background-image: url(../images/facebook.webp);
}
.face-img {
    width: 200px;
    height: 200px;
    background-size: cover;
    display: flex;
    padding: 5px;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.snapchat {
    background-image: url(../images/snapchat.png);
}
.snap-img {
    width: 200px;
    height: 200px;
    background-size: cover;
    display: flex;
    padding: 5px;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.insta {
    background-image: url(../images/instagram.webp);
}
.insta-img {
    width: 200px;
    height: 200px;
    background-size: cover;
    display: flex;
    padding: 5px;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
/* rules for contact here */
.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;    
}
.contact address a {
    font-size: 25px; 
    font-weight: bold;
    outline: black;
    z-index: 1;
}
/*before and after   */
.contact address a::before{
    content: '';
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: blue;
}
/* hover setting   */
.contact address a:hover{    
    background: var(--first-color);
    color: var(--forth-color);
    border-radius: 20px; 
}
/* rules for media screen */
@media screen and (max-width: 980px) {
header {
    text-align: center;
    justify-content: center;}    
header h1 {
    width: 100%;
    text-align: center;   
    padding: 5px;}
header nav {
    justify-content: center;
}
header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;}    
header nav ul li a {
    font-size: 20px;}    
footer h2, footer div {
    text-align: center;
    width: 100%;}
body {
    margin: 10px;
    padding: 20px;
}
.page-section > h2,
.page-section > div {
    flex: 0 0 100%
}
.page-section > h2 {
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid black;
    border-right: none;
    justify-content: center;
}
.my-info > h2,
.myinfo > div {
    flex: 0 0 100%;
}
.myinfo h2 {
    text-align: center;
    justify-content: center;
}
.myinfo h2 {
    padding-right: 50px;
    display: flex;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
    align-items: center;
    text-align: end;
    justify-content: center;
    font-size: 40px;
    color: var(--forth-color);
}
.myinfo {
    position: relative;
    height: auto;
}
.grid-item, .grid-item:first-child{
    grid-column: 1 / -1;
}
.social-item, .social-item:first-child{
    grid-column: 1 / -1;
}
.grid-container {
    grid-auto-rows: minmax(200px, 1fr);
}
.social-grid {
    grid-auto-rows: minmax(200px, 1fr);
    justify-content: center;
}
.intro-2 {
    margin: 10px;
    padding: 10px;
}
.contact address {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.contact address a {
    font-size: 45px;
}
}