/*setting up color*/
:root {
    --first-color: rgb(247, 205, 205);
    --second-color: rgba(217, 223, 223, 0.877);
    --third-color: black;
    --forth-color: red;
    --fifth-color: rgb(243, 242, 211);
    --sixth-color: white;
        
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--fifth-color);
    font-family: 'Times New Roman', Helvetica, sans-serif;
}
/*header setting*/
header {
    padding: 10px 10px;
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    background-image: url(../images/banner-header-paper-crumpled.jpg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    position: sticky;
    top: 0;
    
}
header a {
    text-decoration: none;
    color: var(--third-color);
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 5px 20px;
    font-weight: bold;
    font-size: 2vw;
    color: var(--third-color);
    
}
header nav ul li a:hover {
    background: var(--first-color);
    color: var(--forth-color);
    border-radius: 20px;
}
/*footer setting*/
footer {
    background-color: var(--second-color);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    background-image: url(../images/banner-header-paper-crumpled.jpg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    position: sticky;
    bottom: 0;
}
footer h2 {
    color: var(--third-color);
}
footer a {
    text-decoration: none;
    color: var(--third-color);
}
/* sect of backgroudn img and maing brand*/
section {
    padding: 0;
    margin: 0;
}
/* set up grid display*/
section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "header header"
    "head2  head2"
    "head3 head3"
    "head4 head4"
    "head5 head5";
}
/* set up rules for pic box*/
.main-container {
    margin: 0;
    padding: 35px 0 15px 85px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-area: header;
    border: 1px solid var(--third-color);
    display: grid;  
    grid-auto-columns: ;
    background-color: var(--first-color);
    background-image: url(../images/cube-background-2484131_1280.webp);

}
/* add prifle img*/
.myimg {
    background-image: url(../images/12072644_10154308201513312_76190603846212736_n.jpg);

}
.profileimg {
    width: 100%;
    min-height: 300px;
    background-size: cover;
}
.picsub {
    padding: 15px 0;
    display: flex;
    align-items: flex-end;
    text-align: end;
    justify-content: end;
}
.picsub h2 {
    padding-bottom: 15px;
    padding-right: 35px;
    position: absolute;
    right: 0;
    color: var(--forth-color);
    font-size: 60px;
    font-weight: bold;
}
/*this is where my info starts*/
.myinfo {
    margin: 0;
    padding: 35px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-area: head2;
   
}
.about-me {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.about-me h3 {
    font-size: 50px;
    font-weight: bold;
    
}
.history {
    margin: 0;
    padding: 10px;
    border-left: 2px solid black;
    font-size: 20px;  
}
/* this is my world starts*/

.myworld {
    margin: 0;
    padding: 35px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-area: head3;
}
.my-world {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.my-world h3 {
    font-size: 50px;
    font-weight: bold;
}
.mywork {
    
}
/*this is find me starts*/
.findme {
    margin: 0;
    padding: 35px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-area: head4;

}
.find-me {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.find-me h3 {
    font-size: 50px;
    font-weight: bold;

}
.locate {

}
/*this is contact me start*/
.contact {
    margin: 0;
    padding: 35px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-area: head5;

}
.contact-me {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.contact-me h3 {
    font-size: 50px;
    font-weight: bold;

}